{% extends 'bites/base.html' %}

{% block title %}update{% endblock %}

{% block main %}
<div class="container-fluid main">
    <h1>Edit Bites</h1>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <div  class="mb-3">
            <label class="form-label">Enter Bite Name:</label>
            {{ form.name }}
        </div>
        <div  class="mb-3">
            <label class="form-label">Enter Bite Price:</label>
            {{ form.price }}
        </div>
        <div  class="mb-3">
            <label class="form-label">Enter Bite Category:</label>
            {{ form.category }}
        </div>
        <div  class="mb-3">
            <label class="form-label">Upload Image:</label>
            {{ form.image }}
        </div>
        <div  class="mb-3">
        <input type="submit" value="Update">
        </div>
    </form>
    </div>
{% endblock %}
{% block footer %}
<div class="container-fluid footer fixed-bottom">
    <span>Developed by: Makyao Pro</span>
</div>
{% endblock %}